h2 {
    padding: 50px;
    float: center-right;
    display: inline-block;
    font-size: 35px;
  }

header {
   font-size: 70px;
   color: #63431E; 
   
}

h3 {
line-height: 200px;
font-size: 35px;
}

p {
font-size: 25px;

}